.container{
    display: flex;
    height: 600px;
    width: 1000px;
    border: 2px solid black;
    background-color: orangered;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.Item{
    background-color: yellow;
    height: 100px;
    width: 200px;
    border: 2px solid black;
    font-size: 20px;
    text-align: center;
    align-items: flex-start;
}